<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  {% include favicon.html %}

  {% include scripts/jquery.html %}

  <!-- Fonts & Icons -->
<link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<!-- Academic Icons -->
<link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/academicons/1.9.4/css/academicons.min.css">

<!-- Spoqa Han Sans -->
<link href="https://cdn.bootcdn.net/ajax/libs/spoqa-han-sans/3.2.1/css/SpoqaHanSans-kr.min.css" rel="stylesheet" type="text/css">
  <!-- CSS -->
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

  {% seo %}
</head>