---
layout: default
---

<div class="catalogue">
  {% for post in site.posts %}
    {% if post.categories contains "algorithm1" or post.categories contains "algorithm2" or post.categories contains "algorithm3" %}
    <a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">
      <div>
        <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%B %d, %Y" }}</time>
        <h1 class="catalogue-title">{{ post.title }}</h1>
        <div class="catalogue-line"></div>

        <p>
          {{ post.content | strip_html | truncatewords: 10 }}
        </p>

      </div>
    </a>
    {% endif %}
  {% endfor %}
</div>

