<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>reveal.js – The HTML Presentation Framework</title>

		<meta name="description" content="A framework for easily creating beautiful presentations using HTML">
		<meta name="author" content="Hakim El Hattab">

		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="{{site.baseurl}}/css/reveal.css">
		<link rel="stylesheet" href="{{site.baseurl}}/css/theme/black.css" id="theme">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="{{site.baseurl}}/lib/css/zenburn.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>
		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
		<script src="https://cdn.bootcss.com/markdown-it/8.4.1/markdown-it.js"></script>
	</head>

	<body>
		<div class="reveal">
			<div style="position:absolute; left:0px; top:0px; z-index:999;">
				<a href="{{ site.baseurl }}/">
					<img width="72" height="72" src="{{site.baseurl}}/images/home.png">
				</a>
			</div>
			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
			<script>
			document.getElementById('theme').setAttribute('href','{{site.baseurl}}/css/theme/{{page.theme}}.css');
			</script>
				{{content}}
			</div>

		</div>

		<script src="{{site.baseurl}}/lib/js/head.min.js"></script>
		<script src="{{site.baseurl}}/js/reveal.js"></script>

		<script>

			// More info https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				transition: 'slide', // none/fade/slide/convex/concave/zoom

				// More info https://github.com/hakimel/reveal.js#dependencies
				dependencies: [
					{ src: '{{site.baseurl}}/lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: '{{site.baseurl}}/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: '{{site.baseurl}}/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: '{{site.baseurl}}/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: '{{site.baseurl}}/plugin/search/search.js', async: true },
					{ src: '{{site.baseurl}}/plugin/zoom-js/zoom.js', async: true },
					{ src: '{{site.baseurl}}/plugin/notes/notes.js', async: true }
				]
			});

		</script>
		

	</body>
</html>
