---
layout: default
---

<div class="post">
  <div class="post-info">
    <span>Written by</span>
    {% if page.author %}
        {{ page.author }}
    {% else %}
        {{ site.author.name }}
    {% endif %}

    {% if page.date %}
      <br>
      <span>on&nbsp;</span><time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
    {% endif %}
  </div>

  <h1 class="post-title">{{ page.title }}</h1>

  {{ content }}

</div>

<div class="pagination">
  {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <a href="#" class="top">Top</a>
</div>

<div id="container"> </div>

<script src="{{site.baseurl}}/dist/gitment.browser.js"></script>
<script>
    var clientId = 'e11f5919eb25fa0a374a'
    var clientSecret = 'd2d7da0ab1a43f5143041729154cbe53030005fb'
    var gitment = new Gitment({
      id: 'Hades Jun',
      owner: 'llijiajun',
      repo: 'https://github.com/llijiajun/commet.git',
      oauth: {
        client_id: clientId,
        client_secret: clientSecret,
      },
    })
gitment.render('container')
</script>